// Colors
@white: #fff;
@black: #000;
@blue: #9faecd;
@lightenBlue: #e5e9f2;
@aqua: #dfe6f3;
@orange: #ff7600;
@darkenOrange: #f97e0e;
@red: #ff3600;
@lightenRed: #f8a5a7;
@navy: #002d42;

// Font chains
@Roboto: ~"'Roboto', Sans-serif, Tahoma, Arial";
@OpenSans: ~"'Open Sans', Tahoma, Arial";
@OpenSansCondensed: ~"'Open Sans Condensed', Tahoma, Arial";

//Wieghts
@LightWeight: ~"300";
@NormalWeight: ~"400";
@MediumWeight: ~"500";

//Widths
@xsWidth: 768px;