.peck-large, .peck-red, .peck{
	background: url(../img/pecks-sprite.png) no-repeat;
}

.peck-large{
	background-position: -62px 0;
	width: 26px;
	height: 54px;
}

.peck-red{
	background-position: -32px 0;
	width: 26px;
	height: 36px;
}

.peck{
	background-position: 0 0;
	width: 26px;
	height: 36px;
}