@import 'palette.less';

// Standard styles
ol, ul {
  list-style-position: inside;
}
// End of standard styles

.page-body {
  padding: 20px 0 50px;
}

.breadcrumb {
  padding: 0;
  margin-bottom: 20px;
  background: transparent;
  font-family: @OpenSans;
}

.breadcrumb__item {
  margin-left: 4px;
}

.breadcrumb__item--active {
  color: @orange;
  strong {
    display: inline-block;
    font-weight: normal;
  }
}

.breadcrumb>li.breadcrumb__item+li.breadcrumb__item:before {
  content: '';
  .dot;
  position: relative;
  top: 7px;
  left: 2px;
  margin-right: 2px;
}

.link--breadcrumb {
  color: @blue;
  &:hover {
    color: @orange;
  }
}

.section--members { 
  padding-top: 20px;
  padding-bottom: 20px;
}

.section {
  margin-bottom: 30px;
}

.article {
  font-family: @Roboto;
  font-weight: @LightWeight;
  line-height: 1.5;
  color: @navy;
}

.article--member {
  min-height: 215px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  .article__heading {
    margin-top: 0;
  }
  .article__figure {
    float: left;
    margin-right: 25px;
    margin-bottom: 20px;
    transition: transform 0.5s ease-in-out;
  }
  &:hover {
    .article__figure {
      transform: scale(1.05);
    }    
  }
}

.article__heading {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.page-heading {
  margin-bottom: 1em;
  font: @MediumWeight 16px @Roboto;
  text-transform: uppercase;
}

.article__publish-date {
  margin-bottom: 1.25em;
  font-style: italic;
}

.article__subheading {
  margin-bottom: 0.5em;
  font-style: italic;
  text-transform: uppercase;
}

.article__thumbnail {
  float: left;
  padding: 0 20px 20px 0;
}

.link--tile-heading {
  color: inherit;
  &:hover {
    color: @orange;
    text-decoration: none;
  }
}

.tile-col {
  padding: 0 10px;
}

@tileHeight: 240px;
@tileContentHeight: 100px;
@tileAnimationTime: 0.75s;

.tile {
  height: @tileHeight;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  &:hover {
    .tile__content {
      height: @tileHeight;
      max-height: 300px;
      transition: max-height @tileAnimationTime ease-out;
    }
    .tile__content__preview {
      max-height: 300px;
      transition: max-height @tileAnimationTime ease-out;
      overflow: hidden;
    }
  }
}

.tile__content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: @tileHeight;
  max-height: @tileContentHeight;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  font-family: @Roboto;
  font-size: 16px;
  transition: max-height @tileAnimationTime ease-out;
}

.tile__content__heading {
  margin-bottom: 10px;
  font-weight: 500;
}

.tile__content__preview {
  max-height: 0;
  transition: max-height @tileAnimationTime ease-out;
  overflow: hidden;
}

.tile__content__publish-date {
  float: right;
  margin-top: 10px;
  font-style: italic;
}

@media (max-width: @xsWidth) {
  .tile__content {
    max-height: @tileHeight;
  }
  .tile__content__preview {
    max-height: @tileHeight;
  }
}

.btn--default {
  padding: 15px 30px;
  border: 1px solid @blue;
  border-radius: 0;
  background: @white;
  font: @LightWeight 24px @Roboto;
  color: @navy;
  text-transform: uppercase;
  &:hover {
    color: @orange;
    border-color: @orange;
  }
}

.bg {
  padding-top: 20px;
}

.bg--aqua {
  background: @aqua;
}

.bg--white {
  background: @white;
}

.list--unstyled {
  padding-left: 0;
  list-style: inside none;
}

.list--categories {

}

.list--categories__item {
  float: left;
  margin: 10px 30px 30px 0;
  line-height: 40px;
}

.list--download__item {
  float: left;
  margin: 10px 0;
  line-height: 40px;
  padding: 0;
}

.link--category {
  font: @MediumWeight 14px @Roboto;
  color: @navy;
}

.link--download {
  font: 14px @OpenSans;
  color: @orange;
}

.link--category.link--active {
  color: @orange;
}

.icon--category { 
  float: left;
  margin-right: 10px;
}

.contact-info {
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
}

.info--contact {
  transition: transform 0.5s ease-in-out;
  &:hover {
    transform: translate(20px, 0px);
  }
}

.jumbo-heading {
  float: left;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 18px;
  font-family: @OpenSans;
  text-transform: uppercase;
}

.jumbo-message {
  float: left;
  width: 100%;
  padding: 20px;
  background: @white;
  font-family: @OpenSansCondensed;
  line-height: 1.85em;
}

.jumbo-message--orange {
  border: 1px solid @orange;
}

.jumbo-icon {
  margin-top: 40px;
  margin-bottom: 40px;
}

.breath-30 {
  padding: 30px 0;
}

.form-control--contact {
  height: 36px;
  border: 1px solid @blue;
  border-radius: 0;
  &:focus {
    border-color: @blue;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
}

.form-control--textarea {
  min-height: 150px;
  overflow: hidden;
  resize: none;
}

.control-label--contact {
  font-weight: @LightWeight;
}

.form-group--error {
  .peck {
    .peck-red;
  }
  .form-control--contact {
    background-color: @lightenRed;
    border-color: @red;
    color: @black !important;
    &:focus {
      background-color: @lightenRed;
      border-color: @red;
      color: @black !important;
    }
  }
}

@media (min-width: @xsWidth) {
  .control-label--textarea {
    padding-top: 60px !important;
  }
  .form-control--contact {
    padding-left: 10px;
  }
  .form-control--textarea {
    padding-left: 10px;
  }
  .form-control-wraper {
    padding-left: 40px;
  }
}

.peck {
  position: absolute;
  left: 15px;
}

.peck-large {
  position: absolute;
  top: 45px;
  left: 15px;
  height: 100%;
}

th:focus {
  outline: none;
}

.tablesorter-header-inner {
  display: inline-block;
}

.form-control--search {
  min-width: 250px;
  height: 32px;
}

.search-form {
  margin-top: 0;
  margin-bottom: 15px;
}

.map {
  width: 100%;
  min-height: 500px;
}

@media (max-width: @ultraWidth) {
  .map {
  visibility: hidden;
  min-height: 0;
  max-height: 0;
  height: 0;
  }
}

table.tablepress {
  border: 1px solid #ddd;
  border-collapse: collapse;
  th {
    padding: 8px 5px;
    border: 1px solid #ddd;
  }
  td {
    padding: 8px 5px;
    border: 1px solid #ddd;
  }
  tr:hover {
    td {
      background: #ddd;
    }
  }
}

.dataTables_length {
  float: left;
  width: 100%;
  padding-bottom: 10px;
}

.dataTables_filter {
  float: left;
  width: 100%;
  padding-bottom: 10px;
  input[type=search] {
    min-width: 200px;
    margin-left: 10px;
    .form-control--contact;
  }
}

.paginate_button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
  }
  .btn--default;
}