.icon--excl-aqua, .icon--excl-orange, .icon--form, .icon--get-involved{
  background: url(../img/contact-sprite.png) no-repeat;
}

.icon--excl-aqua{
  background-position: -521px 0;
  width: 26px;
  height: 75px;
  margin: 0 35px 15px 15px;
}

.icon--excl-orange{
  background-position: -521px -95px ;
  width: 26px;
  height: 74px;
  margin: 0 35px 15px 15px;
}

.icon--form{
  background-position: -261px 0;
  width: 249px;
  height: 198px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.icon--get-involved{
  background-position: 0 0;
  width: 256px;
  height: 239px;
}