@import 'palette.less';

.page-foot {
  background: @blue;
  font-family: @OpenSansCondensed;
  color: @white;
}

.page-leg {
  padding-bottom: 10px;
  border-top: 1px solid @blue;
  font-family: @OpenSans;
}

.link--footer {
  color: @navy;
  &:hover {
    color: @orange;
    text-decoration: none;
  }
}

.sitemap {
  position: relative;
  min-height: 190px;
}

.footer-col-margin {
  margin-top: 25px;
}

.heading--sitemap {
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.list--sitemap {
  padding-left: 1em;
  list-style-image: url(../img/dot.png);
}

.footer-symbol {
  position: absolute;
  right: 0;
  top: 25px;
  width: 192px;
  height: 176px;
  // background: url(../img/footer-symbol.png);
  z-index: -10;
  .footer-symbol;
}

.footer-decoration {
  position: absolute;
  left: 65px;
  top: -24px;
  width: 104px;
  height: 24px;
  // background: url(../img/footer-decoration.png);
  .footer-decoration;
}

.info {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.info__icon {
  float: left;
}

.info__content {
  float: left;
  margin-left: 20px;
  line-height: 1.5em;
}

.info__content--one-line {
  margin-top: 0.25em;
}

// Sprites
.link--wl-logo {
  .wl-logo;
  width: 91px;
  height: 72px;
  margin: 10px 5px 5px 5px;
  // background: url(../img/wl-logo.png);
  text-indent: -9999px;
}

.link--sggw-logo {
  .sggw-logo;
  width: 98px;
  height: 94px;
  margin: 5px 5px 10px 5px;
  // background: url(../img/sggw-logo.png);
  text-indent: -9999px;
}

.footer-icon {
  width: 30px;
  height: 30px;
}

.social-icon {
  width: 31px;
  height: 31px;
}

.address-icon {
  .footer-icon;
  // background-image: url(../img/icons/address-icon.png);
}

.mail-icon {
  .footer-icon;
  // background-image: url(../img/icons/mail-icon.png);
}

.phone-icon {
  .footer-icon;
  // background-image: url(../img/icons/phone-icon.png);
}

.fb-icon {
  .social-icon;
  // background-image: url(../img/icons/fb-icon.png);
}

.gplus-icon {
  .social-icon;
  // background-image: url(../img/icons/gplus-icon.png);
}

.tweeter-icon {
  .social-icon;
  // background-image: url(../img/icons/tweeter-icon.png);
}