@import 'palette.less';

.link--brand {
  display: block;
  color: @navy;
  &:hover {
    color: @navy;
  }
}

.brand {
  float: left;
}

.brand__symbol {
  float: left;
}

.brand__logotype {
  float: left;
  max-width: 285px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  font: @LightWeight 20px @Roboto;
  line-height: 30px;
  text-transform: uppercase;
}

.brand__logotype__sub {
  display: block;
  font: @LightWeight 16px @Roboto;
  line-height: 30px;
  text-transform: none;
}

@media (max-width: @ultraWidth) {
  .brand__logotype {
    max-width: 180px;
    margin-left: 5px;
    font-size: 16px !important;
    line-height: 18px;
  }
}

abbr.abbr.abbr--logotype {
  border-bottom: none;
}

.page-head {
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
}

.page-neck {
  background: @blue;
  border-top: 1px solid @lightenBlue;
  border-bottom: 1px solid @lightenBlue;
}

.header-decoration {
  position: absolute;
  bottom: -1px;
  right: 55px;
  width: 145px;
  height: 38px;
}

.list--main-nav {
  padding: 0;
  list-style: inside none;
}

.list--main-nav__item {
  float: left;
  padding: 15px;
  @media (max-width: @xsWidth) {
    float: none;
    width: 100%;
  }
}

.link--main-nav {
  color: @white;
  font: @LightWeight 18px @OpenSans;
  text-transform: uppercase;
  background: inherit !important;
  padding: 0 !important;
  &:hover, &:focus, &:active {
    color: lighten(@blue, 20%);
    text-decoration: none;
  }
}

.list--main-nav__item--active {
  background: @orange;
}

.navbar-header--main {
  .navbar-toggle {
    border-color: @white;
    .icon-bar {
      background-color: @white;
    }
  }
}