.icon--s-1, .icon--s-2, .icon--s-3, .icon--s-4, .icon--s-5, .icon--adress_b, .icon--adress_o, .icon--download_b, .icon--download_o, .icon--homeadress_b, .icon--homeadress_o, .icon--phone_b, .icon--phone_o, .icon--watch_b, .icon--watch_o{
  background: url(../img/icons-sprite.png) no-repeat;
}

.icon--s-1{
  background-position: -89px -127px ;
  width: 40px;
  height: 40px;
}

.icon--s-2{
  background-position: -44px -127px ;
  width: 40px;
  height: 40px;
}

.icon--s-3{
  background-position: 0 -126px ;
  width: 40px;
  height: 40px;
}

.icon--s-4{
  background-position: -131px -85px ;
  width: 40px;
  height: 40px;
}

.icon--s-5{
  background-position: -88px -85px ;
  width: 40px;
  height: 40px;
}

.icon--adress_b{
  background-position: -46px -85px ;
  width: 40px;
  height: 40px;
}

.icon--adress_o{
  background-position: 0 -85px ;
  width: 40px;
  height: 40px;
}

.icon--download_b{
  background-position: -131px -43px ;
  width: 40px;
  height: 40px;
}

.icon--download_o{
  background-position: -88px -42px ;
  width: 40px;
  height: 40px;
}

.icon--homeadress_b{
  background-position: -45px -42px ;
  width: 40px;
  height: 40px;
}

.icon--homeadress_o{
  background-position: 0 -42px ;
  width: 40px;
  height: 40px;
}

.icon--phone_b{
  background-position: -132px 0;
  width: 40px;
  height: 40px;
}

.icon--phone_o{
  background-position: -87px 0;
  width: 40px;
  height: 40px;
}

.icon--watch_b{
  background-position: -44px 0;
  width: 40px;
  height: 40px;
}

.icon--watch_o{
  background-position: 0 0;
  width: 40px;
  height: 40px;
}