.address-icon, .fb-icon, .gplus-icon, .mail-icon, .phone-icon, .tweeter-icon, .wl-logo, .sggw-logo, .footer-symbol, .header-decoration, .footer-decoration, .dot{
	background: url(../img/shared-sprite.png) no-repeat;
}

.address-icon{
	background-position: -177px 0;
	width: 30px;
	height: 30px;
}

.fb-icon{
	background-position: -141px 0;
	width: 31px;
	height: 31px;
}

.gplus-icon{
	background-position: -104px 0;
	width: 31px;
	height: 31px;
}

.mail-icon{
	background-position: -70px 0;
	width: 30px;
	height: 30px;
}

.phone-icon{
	background-position: -35px 0;
	width: 30px;
	height: 30px;
}

.tweeter-icon{
	background-position: 0 0;
	width: 31px;
	height: 31px;
}

.wl-logo{
	background-position: 0 -37px ;
	width: 91px;
	height: 72px;
}

.sggw-logo{
	background-position: 0 -115px ;
	width: 99px;
	height: 94px;
}

.footer-symbol{
	background-position: -107px -37px ;
	width: 192px;
	height: 176px;
}

.header-decoration{
	background-position: 0 -219px ;
	width: 145px;
	height: 38px;
}

.footer-decoration{
	background-position: -171px -224px ;
	width: 104px;
	height: 24px;
}

.dot{
	background-position: -215px -6px ;
	width: 4px;
	height: 6px;
}

