@import 'palette.less';
@import 'ultra-xs.less';

body {
  font: 300 14px @OpenSans;
  color: @navy;
  min-width: 320px;
}

a {
  color: @orange;
  transition: all 0.15s ease-in;
  &:hover {
    color: @orange;
    text-decoration: underline;
    transition: all 0.15s ease-out;
  }
}

.relative {
  position: relative;
}

.icon {
  display: inline-block;
}

.cursor-pointer {
  cursor: pointer;
}

@import 'shared-sprite.less';
@import 'icons-sprite.less';
@import 'contact-sprite.less';
@import 'pecks-sprite.less';

@import 'animations.less';
@import 'header.less';
@import 'footer.less';
@import 'body.less';