@ultraWidth: 500px;
@columnsNumber: 12;

@media (max-width: @ultraWidth) {
  @iterations: @columnsNumber;
  .col-uxs (@i) when (@i > 0) {
    .col-uxs-@{i} {
      @localWidth: @i/@columnsNumber;
      width: percentage(@localWidth);
    }
    .col-xs-@{i}.col-uxs-@{i} {
      @localWidth: @i/@columnsNumber;
      width: percentage(@localWidth);
    }
    .col-uxs(@i - 1);
  }
  .col-uxs(@iterations);

  .hidden-uxs {
    display: none;
  }

  .visible-uxs {
    display: initial;
  }
}